[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "==1.9.1"
dash-bootstrap-components = "*"
dash-daq = "*"
gunicorn = "*"
plotly = "*"
scikit-learn = "*"
category-encoders = "*"
matplotlib = "*"
joblib = "==0.13.2"
sklearn = "==0.21.3"
pandas = "==0.25.1"
numpy = "==1.17.2"

[requires]
python_version = "3.7"
